name: run-scrapers

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 16 * * *" # Runs once a day at 8 am pst
  workflow_dispatch:

jobs:
  run-scripts:
    runs-on: ubuntu-latest
    steps:
      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install packages
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          packages: |
            any::dplyr 
            any::sf

      - name: Check out repository
        uses: actions/checkout@v4

      - name: Run script
        run: Rscript -e 'source("splitting.R")'

      - name: Commit results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add splitting.R
          git commit -m 'ran splitting.R' || echo "No changes to commit"
          git push origin || echo "No changes to commit"